AICON ICON Launcher.ico
BG BITMAP Images\BG.BMP
CLOSE ICON Images\CLOSE.ICO
CLOSEH ICON Images\CLOSEH.ICO
CLOSED ICON Images\CLOSED.ICO
MIN ICON Images\MIN.ICO
MINH ICON Images\MINH.ICO
MIND ICON Images\MIND.ICO